<!DOCTYPE html>
<html lang="en" ng-app="ex">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ex - linux commandline examples</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Ex</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="#/commands">Commands</a>
            </li>
            <li>
              <a href="#/examples">Examples</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-8" ng-view>
        </div>
	<!-- /.content -->

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" ng-controller="sidebarController">

          <div class="well">
            <h4>Command Search</h4>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="phrase">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="search()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>

          <div class="well">
            <h4>Popular commands</h4>
            <ul class="list-unstyled">
              <li ng-repeat="command in popularCommands"><a href="#/commands/{{ command.name }}">{{ command.name }}</a></li>
            </ul>
          </div>

          <div class="well">
            <h4>Popular examples</h4>
            <ul class="list-unstyled">
              <li ng-repeat="example in popularExamples"><a href="#/examples/{{ example._id }}">{{ example.example }}</a></li>
            </ul>
          </div>

        </div>
	<!-- /.sidebar -->

      </div>
      <!-- /.row -->
      <hr>
      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Ex 2014</p>
          </div>
        </div>
        <!-- /.row -->
      </footer>

    </div>
    <!-- /.container -->

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.26/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.2.26/angular-resource.min.js"></script>
    <script src="js/ex.js"></script>
    <script src="js/controllers/sidebar.js"></script>
    <script src="js/controllers/commands.js"></script>
    <script src="js/services/popular.js"></script>
    <script src="js/factories/commands.js"></script>

  </body>
</html>
